# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=second_brain
POSTGRES_USER=<your-username-here>
POSTGRES_PASSWORD=<your-password-here>

## Embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2

## Similarity Search
SIMILARITY_SEARCH_TOP_K=5 # used in search
SIMILARITY_SEARCH_THRESHOLD=0.95 # used in deduplication, CANT be used in search

## Pagination
PAGINATION_LIMIT=10

# Gateway
APP_API_PREFIX=/api/v1

## JWT
JWT_SECRET_KEY=<your-secret-key-here>
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
