# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=second_brain
POSTGRES_USER=
POSTGRES_PASSWORD=

## Embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2

## Similarity Search
SIMILARITY_SEARCH_TOP_K=5 # used in search
SIMILARITY_SEARCH_THRESHOLD=0.95 # used in deduplication, CANT be used in search

## Pagination
PAGINATION_LIMIT=10

# Gateway
APP_API_PREFIX=/api/v1
