# Database
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=second_brain
DATABASE_USER=
DATABASE_PASSWORD=

## Embeddings
EMBEDDING_MODEL=all-MiniLM-L6-v2

## Similarity Search
SIMILARITY_SEARCH_TOP_K=5 # used in search
SIMILARITY_SEARCH_THRESHOLD=0.95 # used in deduplication, CANT be used in search

# Gateway
APP_API_PREFIX=/api/v1
